{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Página en blanco - PRUEBA</title>
    <link rel="stylesheet" href="{% static "CSS/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "fonts/fontawesome5-overrides.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/fontawesome-all.min.css" %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Barra de navegación lateral -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3"><span>ATAP</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    {% block vertical_nav %}
                        <li class="nav-item"><a class="nav-link active" href={% url 'home' %}><i class="fas fa-window-maximize"></i><span>Inicio</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href={% url 'create_task' %}><i class="fas fa-window-maximize"></i><span>Gestion tareas</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'task_list' %}"><i class="fas fa-window-maximize"></i><span>Visualizacion tareas</span></a></li>

                    {% endblock %}
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <!-- Contenido principal -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Barra de navegación superior -->
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                         {% block page_tittle %}{% endblock %}
                         <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <p>{{ user.get_username }}</p>
                        </ul>
                    </div>
                </nav>
                <!-- Contenido principal de la página -->
                <div class="container-fluid" id="ContenidoPrincipal">
                     {% block main %}
                     {% endblock %}


                </div>
            </div>
            <!-- Pie de página -->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Derechos de autor © Angel cairon arcila 2023</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static "JS/chart.min.js" %}"></script>
    <script src="{% static "JS/script.min.js" %}"></script>
    <script src="{% static "JS/bootstrap.min.js" %}"></script>
</body>

</html>